<%- include("../includes/head") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Change your password</h1>
     <% if(message.length) {%>
      <p class="error"><%= message %></p>
      <% }%>
      <form action="/change-new-password" method="post">
         <input hidden value="<%= csrfToken %>" name="_csrf"/>
        <input hidden value="<%= resetToken %>" name="resetToken"/>
         <input hidden value="<%= user_id %>" name="user_id"/>
        <div>
          <label for="password">Enter password</label>
          <input type="text" id="password" name="password" />
        </div>
        <div>
          <label for="confirm_password">Confirm password</label>
          <input type="text" id="confirm_password" name="confirm_password" />
        </div>
        <button>Change New Password</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>